html, body{
	font-family: 'Open Sans', sans-serif;
	height: 100%;
  background-color: #fff;
}

p, h6 {
  font-size: 0.8em;
}

td, th{
  font-size: 0.9em;
  border:0!important;
}

a {
  text-decoration: none!important;
  color: #08BBF1;
}
a:hover{
  color: #FFC020;
  font-weight: 600;
}

h5, label {
  font-size: 1em;
}
hr{
  margin-top: 0.3em;
}

.mynav .navbar .container-fluid, .container-fluid{
  padding-left: 150px;
  padding-right: 150px;
}
.container h2{
  font-size: 1.5em;  
  margin:.1em 0px 0px;
}
.btn-primary{
  background-image: linear-gradient(to right, #2365a8 0%, #28a2d8 100%);
  transition: .25s ease-in-out;
  border-radius: 20px;

}
.mynav .nav-pad{
  padding: 0; 
}
.mynav .bg-base, .footer .bg-base{
  background-image: linear-gradient(to right, #16224c 0%, #3f7fc2 100%)!important;
}
.navbar{
  padding: .5em 0;
}
.nav-link{
  color: #fff!important;
}
.navbar-dark .navbar-nav .active>.nav-link{
  color: #FFC020!important;
  font-weight: bold;
}
.btn-primary:hover {
  background-image: linear-gradient(to right, #eb3764 0%, #f7ad71 100%);
  outline: 0;/*
  box-shadow: 0 3px 3px 0 #cecece;
  transform: scale(1.1);*/
}

.bg-white, .transparent{
  flex:1 0 auto;  
  background-color: #fff!important;
}

.footer{
  flex: none;
}

.bg {
  background:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(https://images.pexels.com/photos/1262971/pexels-photo-1262971.jpeg?cs=srgb&dl=american-casual-cellphone-1262971.jpg&fm=jpg); 
  background-size: cover;
  background-color: #000;
}

.card-hover .card, .card-hover .logo, .wallet-hover .card {
  transition: 0.2s ease-in-out;
}

.card-hover .card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card-hover .logo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.wallet-hover .card:hover {
  transform: scale(1.1);
}

.borderless td, .borderless thead th {
    border: none;
}

.card {
  border-radius: 10px;
}

.base {
  color: #14315B!important;
}
.light{
  color:#a3a3a3;
}
.very-light, .group .group-selected a{
  color:#e3e3e3;
}

.bg-base ,.dropdown-item.active, .dropdown-item:active {
  background-color: #14315B;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
  top:65px;
  border-radius: 0;
  background-image: linear-gradient(to right, #306dae 0%, #3f7fc2 100%)!important;
  border:none;
}
.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item{
  color: #fff;
}
.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:hover{
  color: #fff;
  background-color: #14315B;
}
.accent {
  color: #08BBF1;
}

.bg-accent {
  background-color: #08BBF1;
  border: none;
}
.base-font-7 {
  font-size: 0.7em;
}
.base-font {
  font-size: 0.8em;
}

.base-font-9 {
  font-size: 0.9em;
}

.base-font-15{
  font-size: 1.5em;
}

.pagination, .dataTables_info, .dataTables_length, .dataTables_lenght label {
  font-size: 0.8em;
}

.modal-header{
  border-bottom: none;
  padding: 1em 1em 0 1em;
}

.page-item.active .page-link{
  background-color: #28a2d8;
  border-color: #28a2d8;
}

.big-box{
  background-color: #fff; 
  height: 100%; /*
  border-radius: 10px; 
  box-shadow: 0px 5px 10px 0px #c1c1c1;*/
}
.box-style{
  box-shadow: 0px 2px 5px 0px #ececec; 
/*  border:2px solid #3f7fc2;*/
}

.breadcrumb-style{
  background-color: #fff; 
  margin-bottom: 0; 
  padding: 5px 0 0 0;
}

.btn:focus, .btn:active, input, textarea {
  outline: none !important;
  box-shadow: none !important;
}
.has-float-label .form-control{
  padding:22px 12px;
}
.has-float-label .form-control:placeholder-shown:not(:focus)+*{
  top: 1.3em!important;
  font-size: .8em!important;
}
.has-float-label label, .has-float-label>span{
  background-color: #fff!important;
}


.my-badge{
  background-color: #16224c; 
  border: 1px solid #fff;
  border-radius: 30px;
  padding-left: 5px; 
  padding-right: 5px;
}

.chat-border{
  border-bottom: 1px solid #cecece;
}

.chat-height{
  border-radius: 0px; 
  height: 55vh;
}
.chat-active{
  color: #16224c!important;
  font-size: 1.2em!important;
}
.input-group-text {
  background-color: #fff;
  border-right: 0px;
}
.conversation .form-control{
  border-left: 0;
  padding-left: 0;
}
.conversation .form-control:focus, .conversation .form-control:active, input {
  outline: none !important;
  box-shadow: none !important;
  border-color: #ced4da!important;
}
.list-group-item-action{
  color: #000;
}
.list-group-item-action:focus, .list-group-item-action:hover{
  cursor: pointer
}

.chat-convo{
  width: fit-content; 
  padding: 10px;
  border-radius: 10px;
}
.received{
  background-color: #3f7fc2;
  color: #fff;
}
.sent{
  background-color: #ececec;
}
h6>.badge {
  vertical-align:middle;
  margin-top: -0.8em;
  padding: 3px 10px;
  background-color: #3f7fc2;
}
a>.badge {
  vertical-align:middle;
  margin-top: -1.5em;
}
.viber-badge{
  background-color: #7C529C!important;
}

.telegram-badge{
  background-color: #2BA4E0!important;
}

.facebook-badge{
  background-color: #0084FF!important;
}
.notif-badge{
  background-color: #16224c!important;
}

.list-group-item.active{
  background-color: #f8f9fa;
  border: 1px solid rgba(0,0,0,.125);
  color: #000;
  font-weight: bolder;
}

.float-right .dropdown-toggle::after {
    display:none;
}
.dropdown-toggle:hover{
  cursor: pointer;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #16224c;
  color: #fff!important;  
}
.nav-pills .nav-link{
  color: #16224c!important;
}

.group-select .member, .group .group-selected{
  cursor: pointer;
}
.group-select .member:hover, .group .group-selected:hover{
  background-color: #f8f9fa;
}

.group .group-selected a{
  visibility: hidden;
}
.group .group-selected:hover a{
    color: #16224c;
   visibility: inherit;
}
.divElement{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -215px;
  margin-left: -250px;
  width: 500px;
}

.organization .card, .organization .card a {
 transition: .25s all; 
 color: #273675;
}

.organization .card:hover{
  transition: .25s all;
  color: #fff; 
  transform: scale(.9);
  cursor: pointer;
  background-image: linear-gradient(to right, #eb3764 0%, #f7ad71 100%);
}
.organization .card a:hover{
  color: #fff; 
}

/*Inputs*/
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  font-weight: 600;
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(82,168,236,0);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(82,168,236,0);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(82,168,236,0);
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}


/*Toggle*/
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00EF00;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 19px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #CCCCCC;
}

input:focus + .slider {
  box-shadow: none;
}

input:checked + .slider:before {
  -webkit-transform: translateX(-16px);
  -ms-transform: translateX(-16px);
  transform: translateX(-16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 100%;
}



.conversation-summary-avatar {
  border-radius: 10em;
  position: absolute;
  top: 0.6em;
  left: 0.2em;
  width: 2.8em;
  height: 2.8em;
}

.conversation-summary-avatar-group-member-wrapper,
.conversation-summary-avatar-group-member {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.conversation-summary-avatar-group-member-wrapper {
  overflow: hidden;
}
.conversation-summary-avatar-group {
  top: 0;
  left: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.conversation-summary-avatar-group[data-number-of-thumbnails="2"] 
.conversation-summary-avatar-group-member-wrapper:first-child {
  left: -25%;
}
.conversation-summary-avatar-group[data-number-of-thumbnails="2"] 
.conversation-summary-avatar-group-member-wrapper:nth-child(2) {
  left: 50%;
}
.conversation-summary-avatar-group[data-number-of-thumbnails="2"] 
.conversation-summary-avatar-group-member-wrapper:nth-child(2) 
.conversation-summary-avatar-group-member {
  left: -25%;
}
.conversation-summary-avatar-group[data-number-of-thumbnails="3"] 
.conversation-summary-avatar-group-member-wrapper:first-child {
  left: -25%;
}
.conversation-summary-avatar-group[data-number-of-thumbnails="3"] 
.conversation-summary-avatar-group-member-wrapper:nth-child(2),
.conversation-summary-avatar-group[data-number-of-thumbnails="3"] 
.conversation-summary-avatar-group-member-wrapper:nth-child(3) {
  left: 50%;
  width: 50%;
  height: 50%;
}
.conversation-summary-avatar-group[data-number-of-thumbnails="3"] 
.conversation-summary-avatar-group-member-wrapper:nth-child(3) {
  top: 50%;
}
.conversation-summary-avatar-group[data-number-of-thumbnails="4"] 
.conversation-summary-avatar-group-member-wrapper {
  width: 50%;
  height: 50%;
}
.conversation-summary-avatar-group[data-number-of-thumbnails="4"] 
.conversation-summary-avatar-group-member-wrapper:nth-child(2),
.conversation-summary-avatar-group[data-number-of-thumbnails="4"] 
.conversation-summary-avatar-group-member-wrapper:nth-child(4) {
  left: 50%;
}
.conversation-summary-avatar-group[data-number-of-thumbnails="4"] 
.conversation-summary-avatar-group-member-wrapper:nth-child(3),
.conversation-summary-avatar-group[data-number-of-thumbnails="4"] 
.conversation-summary-avatar-group-member-wrapper:nth-child(4) {
  top: 50%;
}

/* width */
div::-webkit-scrollbar {
  width: 10px;

}

/* Track */
div::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 30px;
}

/* Handle */
div::-webkit-scrollbar-thumb {
  background: #cecece; 
  border-radius: 30px;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}